body {
    background-image: url("/Images/File_000.jpeg");
    background-color: #cccccc;
    /* Set a specific height */
    height: 500px;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax{
    background-image: url("/Images/File_000.jpeg");
    background-color: #cccccc;
    /* Set a specific height */
    height: 500px;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main {
    background-color: white;
    overflow: scroll;
}
.show-right {
    float: right !important
}
.projectImage {
    height: 25px;
    width: 25px;
}