body {
    max-height: 100vh;
    overflow: hidden;
    text-align: center;
    background-image: url('back_image.jpg');
    background-attachment: fixed;
    background-size: cover;
}
.background {
    background-image: url("Images/File_000.jpeg");
    height: 100vh;
}
div#os {
    height: 90vh;
    width: 100%;
    background-color: transparent;
    overflow: scroll;
    overflow-x: hidden;
    position: absolute;
    bottom: 0;
}
.main {
    background-color: white;
}
.aboutWrapper {
    width: 100%;

}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 35%;
    padding: 5px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}