body {
    max-height: 100vh;
    overflow: hidden;
    text-align: center;
    background-image: url("Images/File_000.jpg");
}

div#os {
    height: 100vh;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
}
.main {
    background-color: white;
}
.aboutWrapper {
    width: 100%;

}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 35%;
    padding: 5px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}