body {
    overflow: hidden;
    text-align: center;
    background-image: url('https://atparker.me/content/images/back_image.png');
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.text-themeColor {
    color: #9A1040;
}
.title {
    padding-top: 20px;
}

.embedWrapper {
    max-width: 90vw;
}
.main {
    background-color: #9A1040;
    z-index: -1;
}
.topnav {
    background-color: white;
    overflow: hidden;
    z-index: 100;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        color: #black;
        text-align: center;
        max-width: 20%;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
        /* Change the color of links on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        /* Add a color to the active/current link */
        .topnav a.active {
            background-color: #9A1040;
            color: white;
        }

.fa {
    padding: 20px;
    font-size: 30px;
    height: 75px;
    width: 75px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

    .fa:hover {
        opacity: 0.7;
    }

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

div#os {
    height: 100vh;
    width: 100%;
    background-color: transparent;
    overflow: scroll;
    overflow-x: hidden;
    position: absolute;
    bottom: 0;
}
.h_iframe iframe {
    width: 100%;
    height: calc(100% - 75px);
}

.h_iframe {
    height: 100%;
}


.aboutWrapper {
    width: 100%;
}

.dnbtn {
    background-color: #9A1040;
    width: 50%;
    border: none;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

    /* Darker background on mouse-over */
    .dnbtn:hover {
        background-color: #7c1843;
    }

.blackOutline {
    outline-style: solid;
}
