.thmColor-background {
    background-color: #8b2331 !important
}

.themeColor-text {
    color: #9A1040;
}

.thmColor-text2 {
    color: #8b2331 !important;
}

body {
    overflow: hidden;
    text-align: center;
    background-color: #121212; /** #212121 Alternate Color */
    /*background-image: url('../../content/images/back_image.png');*/
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
    
/*Navbar Style*/
header {
    background-color: #212121;
    overflow: hidden;
    z-index: 100;
    padding: 0px 0px;
    position: fixed;
    width: 100%;
    height: 45px;
    transition: top 0.3s;
}

    header a {
        text-decoration: none;
        float: left;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        padding-left: 16px;
        padding-right: 16px;
        height: 100%;
        
    }

        header a:hover {
            background-color: #8b2331;
        }

    header .search-container {
        float: right;
        height: 100%;
    }

    header form {
        height: 100%;
    }

    header input {
        height: 100%;
        border: none;
    }

    header .search-container button {
        display: flex;
        font-size:25px;
        justify-content: center;
        align-content: center;
        color: white;
        float: right;
        background-color: #212121;
        border: none;
        padding: 0px 0px;
        cursor: pointer;
        text-align: center;
        height: 100%;
        width: 45px;
    }

        header .search-container button:hover {
            background: #8b2331;
        }


@media screen and (max-width: 600px) {
    header {
        height: 70%;
        background-color: transparent;
    }

        header a, header input[type=text], header .search-container, header .search-container button {
            height: 20%;
            float: none;
            text-align: center;
            max-width: 100%;
            width: 100%;
            background-color: #212121;
        }

            header .search-container input {
             
                height: 100%;
                width: 75%;
                float: left;
            }

            header .search-container button {
                font-size: 50px;
                display: flex;
                justify-content: center;
                align-content: center;
            
                height: 100%;
                width: 25%;
            }
}

.btn {
    background-color: #8b2331;
    text-align: center;
    border: none;
    padding: 12px 30px;
    color: white;
    height:60px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #9A1040;
  }


